{{#each products }}
  <div class="row">
    {{#each this }}
      <div class="col-sm-4">
    <div class="card">
    <div class="text-center">
      <img src="{{this.imgPath}}"  class="card-img-top" alt="..." />
    </div>
    <div class="card-body">
      <h5 class="card-title">{{this.productName}} </h5>
      <p class="card-text">
        screen :{{this.productDescription.screen}} Inch Fullscree,<br>
        system : {{this.productDescription.system}}, <br>
        Storage: {{this.productDescription.storage}}GB,<br>
        RAM: {{this.productDescription.RAM}}GB, <br>
        Processor :{{this.productDescription.processor}} ,<br>
        Selfie Camera: {{this.productDescription.selfieCamera}}MP,<br>
        Battery: {{this.productDescription.battery}}mAh
      </p>
      <div>
        <div class="price float-start"> {{this.productPrice}}LE</div>
        {{#if ../../checkUser}}
        {{#if ../../checkRole}}
        {{!-- <form action="../removeProduct/{{this._id}}" method="post">
          <button type="submit" class="btn btn-danger float-end">
            <i class="fa-solid fa-trash-can"></i>  Delete
          </button>
        </form> --}}
          <a href="/removeProduct/{{this._id}}" class="btn btn-danger float-end">
          <i class="fa-solid fa-trash-can"></i>  Delete</a>  
          <a href="/updateProduct/{{this._id}}/{{this.productPrice}}/{{this.productName}}/{{../../noPage}}" class="btn btn-success float-end" style="margin-right: 20px;">
          Update</a>  
        {{else}}
          <a href="/addToCart/{{this._id}}/{{this.productPrice}}/{{this.productName}}/{{../../noPage}}" class="btn btn-success float-end">
          Buy</a>  
        {{/if}}
        {{else}}
          <button type="button" class="btn btn-success float-end" data-toggle="modal" data-target="#exampleModalCenter">
            Buy
          </button>
        {{/if}}
        
      </div>
    </div>
    </div>
  </div>
    {{/each}}
  </div>
{{/each}}


<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalCenterTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <a href="/users/signin" class="btn btn-primary">Sing in</a>
      </div>
    </div>
  </div>
</div>

<footer>
  <div class="position-absolute top-100 start-50 translate-middle">
    <nav aria-label="Page navigation example">
      <ul class="pagination">
        <li class="page-item">
          <a
            class="page-link"
            href="/previous/{{noPage}}"
            aria-label="Previous"
          >
            <span aria-hidden="true">&laquo;</span>
          </a>
        </li>
        {{#each noPages}}
          <li class="page-item"><a
              class="page-link"
              href="/page/{{this}}"
            >{{this}}</a></li>
        {{/each}}
        <li class="page-item">
          <a class="page-link" href="/next/{{noPage}}" aria-label="Next">
            <span aria-hidden="true">&raquo;</span>
          </a>
        </li>
      </ul>
    </nav>
  </div>
</footer>