<h5>Profile</h5>
<p>profileImg : {{user.profileImg}}</p>
<img
  src={{user.profileImg}}
  class="card-img-top"
  alt="..."
  style="width: 150px; height: 150px;"
/>

<p>
  email :
  {{user.email}}
</p>

<p>
  name :
  {{user.name}}
</p>

<p>
  phone :
  {{user.phone}}
</p>

<p>
  address :
  {{user.address}}
</p>

<p>
  postalCode :
  {{user.postalCode}}
</p>

<a class="btn" href="/users/userData">
  <i class="fa-solid fa-right-from-bracket"></i>
  Edit
</a>